<div class="container mt-4">
  <h1 class="text-center mb-4">Overview</h1>
  <div class="row">
    <div class="col-md-4">
      <div class="card text-white bg-success mb-3">
        <div class="card-header">Income</div>
        <div class="card-body">
          <h2 class="card-title">{{income | currency}}</h2>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-white bg-danger mb-3">
        <div class="card-header">Expense</div>
        <div class="card-body">
          <h2 class="card-title">{{expense | currency}}</h2>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-white bg-warning mb-3">
        <div class="card-header">Debt</div>
        <div class="card-body">
          <h2 class="card-title">{{debt | currency}}</h2>
        </div>
      </div>
    </div>
  </div>
</div>
